.form
  = simple_form_for(@entry) do |f|
    = f.input :name, label: "Trail Name"
    .row
      .small-6.columns
        = f.input :date, :as => :datepicker, label: "Trail Date"
      .small-6.columns
        = f.input :length, label: "Length"
    .row
      .small-6.columns
        = f.input :state, label: "State"
      .small-6.columns
        = f.input :city, label: "City"
    = f.input :notes, label: "Notes", as: :text
    = f.simple_fields_for :attachments do |a|
      = a.input :attachment, as: :file
    = f.button :submit, "Log Trail", class: "tiny radius"
