%h2 All Trail Entries

- if user_signed_in?
  = link_to 'New Entry', new_entry_path
%ul.entry-roll
  - @entries.each do |entry|
    .entry
      = entry.date
      = entry.name
      = entry.length
      = entry.state
      = entry.city
      = entry.notes
      - entry.attachments.each do |attachment|
        .attachment
          = link_to image_tag(attachment.attachment_url(:thumb).to_s), attachment.attachment_url
