%h4.header Community Entries

//- if user_signed_in?
//  = link_to 'New Entry', new_entry_path, class: "button radius"
%ul.entry-roll
  - @entries.each do |entry|
    .entry.clearfix
      %em= link_to "#{entry.user.email}", user_path(entry.user.id)
      %em logged:
      .row
        .small-12.columns
          %strong Trail Date:
          = entry.date
      .row
        .small-12.columns
          %strong Trail Name:
          = entry.name
      .row
        .small-4.columns
          %strong Length:
          = entry.length
        .small-4.columns
          %strong City:
          = entry.city
        .small-4.columns
          %strong State:
          = entry.state
      .row
        .small-12.columns
          %strong Notes:
          = entry.notes
      %ul.clearing-thumbs(data-clearing)
        - entry.attachments.each do |attachment|
          %li.attachment
            = link_to image_tag(attachment.attachment_url(:thumb).to_s), attachment.attachment_url
      .row
        .small-12.columns
          -if current_user == entry.user
            = link_to "Edit", edit_entry_path(entry.id),  class: "button right radius tiny"
