%h3 Community Entries

//- if user_signed_in?
//  = link_to 'New Entry', new_entry_path, class: "button radius"
%ul.entry-roll
  - @entries.each do |entry|
    .entry.clearfix
      %em= entry.user.email
      %em logged:
      .row
        .small-12.columns
          %strong Trail Date:
          = entry.date
      .row
        .small-12.columns
          %strong Trail Name:
          = entry.name
      .row
        .small-4.columns
          %strong Length:
          = entry.length
        .small-4.columns
          %strong City:
          = entry.city
        .small-4.columns
          %strong State:
          = entry.state
      .row
        .small-12.columns
          %strong Notes:
          = entry.notes
      - entry.attachments.each do |attachment|
        .attachment
          = link_to image_tag(attachment.attachment_url(:thumb).to_s), attachment.attachment_url
        -if current_user == @user
          = link_to "Edit", edit_entry_path(entry.id),  class: "custom-button-class"
