- if (current_user == @user)
  %h3 #{current_user.email}'s Log
- else
  %h3 You are viewing #{@user.email}'s Log
//%h3= @user.username
%h4= @user.email
%p Trails you have logged:

- if (current_user == @user)
  = link_to 'New Entry', new_entry_path
%ul.entry-roll
  - @user.entries.each do |entry|
    .entry
      Trail Date:
      = entry.date
      Trail Name:
      = entry.name
      Length:
      = entry.length
      State:
      = entry.state
      Notes:
      = entry.notes
      - entry.attachments.each do |attachment|
        .attachment
          = link_to image_tag(attachment.attachment_url(:thumb).to_s), attachment.attachment_url
      -if current_user == @user
        = link_to "Edit", edit_entry_path(entry.id)
