- if (current_user == @user)
  %h4 #{current_user.email}'s Log
- else
  %h4 You are viewing #{@user.email}'s Log
%p Trails I have logged:

//- if (current_user == @user)
//  = link_to 'New Entry', new_entry_path, class: "button radius"
.row
  .small-8.columns
    %ul.entry-roll
      - @user.entries.each do |entry|
        .row
          .small-12.columns
            .entry.clearfix
              .row
                .small-12.columns
                  %strong Trail Date:
                  = entry.date
              .row
                .small-12.columns
                  %strong Trail Name:
                  = entry.name
              .row
                .small-4.columns
                  %strong Length:
                  = entry.length
                .small-4.columns
                  %strong City:
                  = entry.city
                .small-4.columns
                  %strong State:
                  = entry.state
              .row
                .small-12.columns
                  %strong Notes:
                  = entry.notes
              %ul.clearing-thumbs(data-clearing)
                - entry.attachments.each do |attachment|
                  %li.attachment
                    = link_to image_tag(attachment.attachment_url(:thumb).to_s), attachment.attachment_url
              .row
                .small-12.columns
                  -if current_user == @user
                    = link_to "Edit", edit_entry_path(entry.id), class: "button right radius"
